$brand-primary:           #702283;
$brand-primary-alt:       rgba(76,19,103,0.5);
$brand-primary-dark:      #4C1367;
$brand-primary-light:     #D18EE2;
$brand-alert:             #DF542A;
$brand-success:           #65B32E;
$brand-warning:           #FFCC00;

$header-height:             70px;

$app-bar-height:            50px;

$gray:                      #626272;
$light-gray:                #8899AA;
$lighter-gray:              #979797;

$btn-default-color:         $light-gray;
$btn-font-weight:           300;

$font-size-large:           14px;

$padding-large-vertical:    15px;

$border-radius-base:        2px;
$border-radius-large:       3px;

$input-color:               #C9C9C9;
$input-border:              $light-gray;

$menu-icon-color:           #EB8B2D;

$nav-pills-border-radius:   0px;

$link-color:            $brand-primary-light;

$icon-font-path:        'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/';

$font-family-base:          Montserrat;

$nav-link-padding:                  24px 15px;
$nav-link-hover-bg:                 $brand-primary-alt;
$nav-pills-active-link-hover-bg:    $brand-primary-alt;

$sidebar-width:             246px;
$sidebar-minimized-width:   50px;
