@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

$decoration-height:     40px;

.navitem {
  &:global(.active) {
    box-shadow: 0 -1px 0 0 $brand-primary-dark, 0 1px 0 0 $brand-primary-dark;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -$decoration-height / 2;
      width: 6px;
      height: $decoration-height;
      background-color: $brand-warning;
      border-radius: 0 17px 17px 0;
      z-index: 9;

      @include tablet-and-desktop {
        background-color: $brand-success;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
  }

  .mainContent {
    flex-grow: 1;
  }

  .icon {
    margin-right: 18px;
  }
}
