@import 'app/stylesheet/variables';

.container {
  text-align: center;
  background-color: $brand-primary-dark;
  height: $header-height;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
