@import 'app/stylesheet/variables';

.container {
  height: $app-bar-height;
  background-color: $brand-primary;
  color: #fff;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    margin: 0 20px;
  }
}
