@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

.container {
  flex: 0 0 100%;
  background: rgba(0, 0, 0, .5);
  display: none;
  z-index: 9;

  &.opened {
    display: block;
    position: absolute;
    right: 0;
    left: 0;

    .sidebar {
      transform: translate3d(0, 0, 0);
    }
  }

  @include tablet {
    flex: 0 0 $sidebar-minimized-width;
    display: block;

    &.opened {
      position: relative;
    }

    &:hover {
      flex: 0 0 $sidebar-width;
    }
  }

  @include desktop {
    flex: 0 0 $sidebar-width;
    display: block;

    &.opened {
      position: relative;
    }
  }

  .sidebar {
    width: $sidebar-width;
    transform: translate3d(-$sidebar-width, 0, 0);
    height: 100%;

    @include tablet {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }

    @include desktop {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
}
