@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

.container {
  flex-grow: 1;
  background: rgba(244,247,248,1);
  width: 100%;

  @include tablet {
    width: calc(100% - #{$sidebar-minimized-width});
  }

  @include desktop {
    width: calc(100% - #{$sidebar-width});
  }
}
