@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

$padding: 20px;
$iconHeight: 32px;

$tabletPadding: 17px;
$tabletIconHeight: 24px;

.container {
  position: relative;
  height: $padding * 2 + $iconHeight;

  @include tablet-and-desktop {
    height: $tabletPadding * 2 + $tabletIconHeight;
  }

  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparentize(#333, 0.3);
  }

  .autoSuggest {
    padding: $padding;
    display: flex;
    align-items: center;
    background: #fff;
    position: absolute;
    width: 100%;

    @include tablet-and-desktop {
      padding: $tabletPadding;
    }

    .icon {
      width: $iconHeight;
      height: $iconHeight;

      @include tablet-and-desktop {
        width: $tabletIconHeight;
        height: $tabletIconHeight;
      }
    }

    .iconFocused {
      transform: rotate(45deg);
    }

    .input {
      margin-left: 10px;
      flex-grow: 1;
      font-size: 18px;

      @include tablet-and-desktop {
        font-size: 12px;
        line-height: 15px;
      }
    }

    .suggestions {
      background-color: #fff;
      position: absolute;
      top: calc(100% + 2px);
      width: 100%;
      left: 0;
      border-radius: 0 0 3px 3px;

      .suggestion {
        display: flex;
        padding: 21px 4px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $table-border-color;

        &:nth-child(even) {
          background-color: $row-alt-bg;
        }

        > div {
          font-size: 11px;
          line-height: 14px;
          color: $light-gray;
          padding: 0 10px;
        }

        > div:first-child {
          font-size: 12px;
          line-height: 15px;
          color: $gray;
        }

        .controls {
          white-space: nowrap;
          display: flex;
          align-items: center;
        }

        .control {
          width: 30px;
          text-align: center;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}
