@import 'app/stylesheet/variables';

.container {
  padding: 8px 0;

  .label {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: $gray;
  }

  .control, .control > div {
    width: 100%;
  }
}
