@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

.card {
  @include tablet-and-desktop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 11px;
    padding: 10px;
    width: 360px;
    z-index: 9;
  }
}

.block {
  padding: 10px 0;

  &:not(:first-child) {
    border-top: 1px solid #F1F0F4;
  }
}

.control {
  text-align: center;

  @include tablet-and-desktop {
    font-size: 10px;
  }
}

.taxCol {
  white-space: nowrap;
}

.tax {
  width: 40px;
  display: inline-block;

  @include tablet-and-desktop {
    width: 25px;
  }

  .control {
    @include tablet-and-desktop {
      padding: 1px;
    }
  }
}

.percentage {
  margin-left: 4px;
}

.taxTail {
  margin-left: 10px;
}

.subTotal {
  font-size: 16px;
  text-align: right;
  line-height: 19px;
  color: $light-gray;
  padding: 10px 0;

  @include tablet-and-desktop {
    font-size: 12px;
  }
}

.total {
  font-size: 24px;
  text-align: right;
  line-height: 29px;
  color: $gray;
  padding: 4px 0;

  @include tablet-and-desktop {
    font-size: 16px;
  }
}

.totalLabel {
  font-size: 16px;
  line-height: 19px;
  color: #626272;
}
