@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

.container {
  padding: 17px 0;
  text-align: center;

  @include tablet-and-desktop {
    text-align: left;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color: $gray;

    @include tablet-and-desktop {
      font-size: 16px;
    }
  }

  .subtitle {
    font-size: 14px;
    line-height: 18px;
    color: $light-gray;

    @include tablet-and-desktop {
      font-size: 12px;
    }
  }
}
