@import 'app/stylesheet/variables';
@import 'app/stylesheet/mixins/media';

.container {
  display: flex;
  position: relative;
}

.main {
  @include tablet {
    padding: 10px;
  }

  @include desktop {
    padding: 20px;
  }
}
